* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(214, 214, 214);
}

.card {
    border-radius: 25px 0 25px 0;
    box-shadow: 0 0 1em gold;
    margin: auto;
    background: #fff;
    margin: 15px;
    padding: 20px;
}

.header {
    text-align: center;
    color: rgb(241, 171, 19);
    font-weight: 600;
}

.name {
    color: rgb(241, 171, 19);
    font-size: 1.1rem;
}

img {
    border-radius: 300px;
    width: 40%;
    border: 6px solid rgb(241, 171, 19);
}


.fa-mobile {
    margin-right: 35px !important;
}
hr {
    margin-bottom: 15px ;
}

p {
    margin-bottom: 15px;
}

i {
    margin-right: 20px; 
    color: rgb(241, 171, 19);
}

a {
    text-decoration: none;
    color: rgb(241, 171, 19);
    cursor: pointer;
    text-decoration: underline;
}

.cv {
    color: rgb(241, 171, 19);
    font-weight: 600;
    text-decoration: underline;

}
em, small {
    color: rgb(241, 171, 19);
}



/* desktop */

@media (min-width: 900px) {
    
    .header {
        grid-area: header;
    }
    .personal-info {
        grid-area: personal-info;
    }
    .education {
        grid-area: education;
    }

    .objective {
        grid-area: objective;
    }

    .professional {
        grid-area: professional;
    }

    .competence {
        grid-area: competence;
    }


    
    main {
        display: grid;
        grid-template-areas: 
        "header header"
        "personal-info objective"
        "competence competence"
        "education professional";
        width: min(80%, 700px) ;
        margin: auto;
    }
    
    .card{
        box-shadow: none;
    }

    .card:hover {
        box-shadow: 0 0 1em gold;
        transition: 0.6s;
    }

    img {
        width: 25%;
    }
}