* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(214, 214, 214);
}

.card {
    border-radius: 6px;
    box-shadow: 2px 2px 2px gray;
    width: 80%;
    margin: auto;
    background: #fff;
    margin-top: 15px;
    padding: 20px;
}

.header {
    text-align: center;
    color: rgb(241, 171, 19);
    font-weight: 600;
}

.name {
    color: rgb(241, 171, 19);
    font-size: 1.3rem;
}

img {
    border-radius: 300px;
    width: 40%;
    border: 6px solid rgb(241, 171, 19);
}


.fa-mobile {
    margin-right: 35px !important;
}
hr {
    margin-bottom: 15px ;
}

p {
    margin-bottom: 15px;
}

i {
    margin-right: 20px; 
    color: rgb(241, 171, 19);
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
em {
    color: rgb(241, 171, 19);
}

