* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(214, 214, 214);
}

.card {
    border-radius: 25px 0 25px 0;
    box-shadow: 2px 2px 2px gray;
    width: 85%;
    margin: auto;
    background: #fff;
    margin-top: 15px;
    padding: 20px;
}

.header {
    text-align: center;
    color: rgb(241, 171, 19);
    font-weight: 600;
}

.name {
    color: rgb(241, 171, 19);
    font-size: 1.1rem;
}

img {
    border-radius: 300px;
    width: 40%;
    border: 6px solid rgb(241, 171, 19);
}


.fa-mobile {
    margin-right: 35px !important;
}
hr {
    margin-bottom: 15px ;
}

p {
    margin-bottom: 15px;
}

i {
    margin-right: 20px; 
    color: rgb(241, 171, 19);
}

a {
    text-decoration: none;
    color: rgb(241, 171, 19);
    cursor: pointer;
    text-decoration: underline;
}

.cv {
    color: rgb(241, 171, 19);
    font-weight: 600;
    text-decoration: underline;

}
em, small {
    color: rgb(241, 171, 19);
}



/* desktop */

@media (min-width: 900px) {
    
    
    main {
        width: min(80%, 880px) ;
        margin: auto;
    }
    
    
    .card:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 60%);
        transition: 0.6s;
    }

    img {
        width: 25%;
    }
}